.App {
  background: rgb(241, 174, 30);
  min-width: 500;
}
.Form{ 
  padding: 10px;
  font-family: Arial;
  text-align: center;
  position: relative;
  min-width: 500;
}
.InputStyle{
  position: relative;
  width: 40%;
  padding: 12px 20px;
  margin: auto;
  margin-bottom: 10px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.btnCreate{
  width: 20%;
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 0 5px 0 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: large;

}
.btnGet{
  width: 20%;
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 0 5px 0 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: large;
}
.user{
  width: 15%;
  display: flex;
  padding: 5px 20px;
  margin: auto;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  background-color: #4CAF50;
  border-radius: 4px;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 100%;
  flex: 1;
}
.size {
  height: 30px;
  width: 30px;
}
.close{
  position:relative;
  display: flex;
  flex: 1;
  
}